@import 'elements';

.blog--content {
  @extend .text;
  border-top: 1px solid $border-colour;

  p {
    margin-bottom: 1.4em;
  }
}

.blog--byline {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  margin-bottom: 20px;

  time {
    color: $secondary-text-colour;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}