@import 'elements';

.blog--header {
  margin-top: 1.5*$gutter;
  margin-bottom: $gutter;
}

.blog {
  font-size: 36px;
  line-height: 40px;
  a {
    color: $grey-1;
    text-decoration: none;
  }
}

.blog-title {
  @extend .heading-xlarge;
  margin-top: 0;

  a {
    color: $text-colour;
    text-decoration: none;
  }
}

.blog, .blog-title {
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.blog--content {
  @extend .text;
  border-top: 1px solid $border-colour;

  p {
    margin-bottom: 1.4em;
  }
}

.blog--byline {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  margin-bottom: 20px;

  time {
    color: $secondary-text-colour;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}