@import 'elements';

.blog--content {
  @extend .text;
  border-top: 1px solid $border-colour;

  p, .blog__figure {
    margin-bottom: $gutter;
  }
}

.blog--byline {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  margin-bottom: 20px;

  time {
    color: $secondary-text-colour;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.blog__figure {
  max-width: 100%;
  text-align: center;
  img {
    max-width: 100%;
  }
  figcaption {
    color: $secondary-text-colour;
    font-size: 16px;
  }
}