.area-header {
  margin-top: 1.5*$gutter;
  margin-bottom: $gutter;
}

.area-header__sub-heading {
  font-size: 36px;
  line-height: 40px;

  @include linx($secondary-text-colour, null, null, null);
}

.area-header__title {
  @extend .heading-xlarge;
  margin-top: 0;

  @include linx($text-colour, null, null, null);
}

.area-header + article {
  border-top: 1px solid $border-colour;
}