.area-header {
  margin-top: 1.5*$gutter;
  margin-bottom: $gutter;
}

.area-header__sub-heading {
  font-size: 36px;
  line-height: 40px;
  a {
    color: $grey-1;
    text-decoration: none;
  }
}

.area-header__title {
  @extend .heading-xlarge;
  margin-top: 0;

  a {
    color: $text-colour;
    text-decoration: none;
  }
}

.area-header__sub-heading, .area-header__title {
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}