.area-header {
  margin-top: 1.5*$gutter;
  margin-bottom: $gutter;
  border-bottom: 1px solid $border-colour;
}

.area-header--sub-heading {
  font-size: 36px;
  line-height: 40px;
  a {
    color: $grey-1;
    text-decoration: none;
  }
}

.area-header--title {
  @extend .heading-xlarge;
  margin-top: 0;

  a {
    color: $text-colour;
    text-decoration: none;
  }
}

.area-header--sub-heading, .area-header--title {
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}