$slide-signature-size: 4*$gutter;

.slide {
  min-height: 100vh;
  background: $alpha-colour;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: $slide-signature-size;
  box-sizing: border-box;
}

@mixin colour-modifier($colour) {
  background: $colour;

  .slide-footer {
    border-top: 2px solid $colour;
  }
}

.slide--pink { @include colour-modifier($alpha-colour); }
.slide--blue { @include colour-modifier($light-blue); }
.slide--red { @include colour-modifier($mellow-red); }
.slide--yellow { @include colour-modifier($yellow); }
.slide--green { @include colour-modifier($green); }
.slide--orange { @include colour-modifier($orange); }
.slide--white {
  @include colour-modifier(#fff);

  .slide-footer {
    background: $light-blue;
    color: #fff;

    .slide-footer__org {
      border-left: none;
    }
    a {
      color: #fff;
    }
  }
}

.slide__content {
  color: #fff;
  max-width: 1020px;
  @include media($min-width: 1441px) {
    max-width: 85%;
  }
}

.slide__content--img {
  max-width: 1020px;
//  @include media($min-width: 1441px) {
//    max-width: 85%;
//  }
}

.slide-footer {
  position: absolute;
  bottom: 0; left: 0;
  height: $slide-signature-size;
  width: 100%;
  border-top: 2px solid $alpha-colour;
  background: #fff;
  color: #0B0C0C;
  @extend %contain-floats;
  box-shadow: 0 0 0 3px #fff;
}

.slide-footer__name, .slide-footer__org {
  margin: $gutter-two-thirds $gutter*1.5 $gutter-half;
  font-size: 1.5em;

  p {
    margin: 0;
  }
}

.slide-footer__name {
  float: left;
  line-height: $slide-signature-size - $gutter-two-thirds - $gutter-half;
}

.slide-footer__org {
  margin-left: $gutter;
  border-left: 2px solid $cabinet-office;
  padding-left: $gutter-half;
  float: right;
}

.organisation-logo {
  display: block;
  background-image: url(/public/images/crests/org_crest_27px_x2.png);
  background-size: auto 80px;
  background-repeat: no-repeat;
  height: 80px;
  line-height: 40px;
  padding-left: 96px + $gutter;

  
  a {
    color: #0B0C0C;
    text-decoration: none;
  }
}