{{<post}}

{{$pageTitle}}
  People finding in the civil service | Cross Government Tools
{{/pageTitle}}

{{$post_content}}
  <article class="blog--content">
    <header>
      <h2 class="heading-large">People finding in the civil service</h2>
      <p class="blog--byline author vcard"><a href="" title="Posts by David Hearsey" class="url fn" rel="author">David Hearsey</a>, <time class="updated" datetime="2015-04-29T09:00:46+00:00" pubdate="">29 April 2015</time></p>
    </header>

    <p>Currently there isn’t an up-to-date, accessible contact list for the 447,000 civil servants in the UK. Systems in departments are old, incomplete and difficult to maintain.</p>

    <p>Civil servants don’t trust the existing systems and have little motivation or incentive to use them. As a result they use workarounds, like:</p>

    <ul class="list-bullet">
      <li>informal networks</li>
      <li>external sites (eg LinkedIn, Google and Facebook)</li>
      <li>personal phones and email accounts (in case they move departments)</li>
    </ul>

    <p>This is less efficient than a single, up-to-date Civil Service people finder would be.</p>

    <h3 class="heading-medium">What are we doing?</h3>

    <p>We’re starting with user needs - what does a civil servant need to do to find someone in the Civil Service?</p>

    <p>We’re also exploring a single sign-on for internal services as well as building a prototype for civil servants based on structured data.</p>

    <h3 class="heading-medium">Why structured data?</h3>

    <p>Structured data means creating an organised, standardised set of data that different systems can share. We should use open standards, for example vCard for contacts. It’s an accepted and consistent source that removes possible barriers in a system.</p>

    <p>If we want to make it easy for civil servants to find people we need to use structured data.</p>

    <h3 class="heading-medium">What can we do with structured data?</h3>

    <p>Live data about civil servants can be used in many ways. Business cards, building passes and organograms can be easily and quickly created.</p>

    <h3 class="heading-medium">Our principles for the future</h3>

    <ul class="list-number">
      <li>Services for civil servants and not organisations</li>
      <li>Open standards and structured data</li>
      <li>Use existing data and accepted standards</li>
      <li>Minimise the need for users to update data</li>
      <li>Individuals own their data</li>
      <li>Everybody participates (because they have reason to)</li>
    </ul>

  </article>

{{/post_content}}

{{/post}}