{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$head}}
  {{>includes/head}}
  <link href="/public/stylesheets/blog.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}

<main id="content" role="main">

  <header class="blog--header">
    <div class="text">
      <h1 class="blog"><a href="https://gds.blog.gov.uk">Blog</a></h1>
      <h1 class="blog-title"><a href="https://gds.blog.gov.uk">Cross government tools</a></h1>
    </div>
  </header>

  <article class="blog--content">
    <header>
      <h2 class="heading-large">Understanding user needs in the 21st century Civil Service</h2>
      <p class="blog--byline author vcard"><a href="" title="Posts by David Mann" class="url fn" rel="author">David Mann</a>, <time class="updated" datetime="2015-03-22T09:00:46+00:00" pubdate="">22 March 2015</time></p>
    </header>

    <p>Digital transformation in government has already delivered many improved public services but, far too often, civil servants could be forgiven for thinking the digital revolution has passed them by.</p>

    </p>This is changing.</p>

    <p>Sir Jeremy Heywood recently <a href="https://civilservice.blog.gov.uk/2015/01/09/digital-by-default-is-coming-to-our-internal-services/">announced that all internal government services must meet the Digital by Default Service Standard</a>. Meanwhile, GDS has started a discovery project to understand what civil servants need from internal-facing cross-government services. From this initial 12 week discovery, we’re planning to sketch out a picture of what world class digital services could look like for the 21st century Civil Service.</p>

    <h3 class="heading-medium">Start with needs</h3>

    <p>To help us draw the picture of what modern digital services for civil servants look like, we need to develop a deep understanding of their user needs. The first criteria of the <a href="https://www.gov.uk/service-manual/digital-by-default">Digital by Default Service Standard</a> says:</p>

    <p>“Understand user needs. Research to develop a deep knowledge of who the service users are and what that means for digital and assisted digital service design.”</p>

    <p>To provide a structure for our project, we created a narrative that would help us frame our research around some key themes. The team decided on these themes based on some initial data from research groups we ran.</p>

    <h3 class="heading-medium">Theme one - Becoming a civil servant</h3>

    <p class="text">The first step on the journey; you decide to join the Civil Service or, if you’re already there, want to find a new job. Perhaps you see an advert or someone who already works there tells you about a civil service vacancy. If you’re already a civil servant, maybe you’re looking for a promotion or a fresh challenge in a new department.</p>

    <p>You find out about the job, apply and assuming you’re successful, come in for an interview.</p>

    <p>We will explore this theme by talking to people who’ve recently started or are in the process of applying. It’s important that we understand in depth, the motivations, difficulties and how this process feels. By talking to people, we will define their needs of this life changing experience.</p>

  [insert image]

    <h3 class="heading-medium">Theme two - joining the civil service</h3>

    <p>Once you’ve navigated the recruitment process, the next stage in the journey is dealing with the mechanics of joining the Civil Service.</p>

    <p>Offers are made; in some cases, there will be negotiations on salary. As well as the information they’ve given on their application form, people must go through security vetting. There are health check questionnaires and references are followed up on. Start dates are agreed.</p>

    <p>It’s a potentially stressful experience. Giving the wrong information at this stage could have serious consequences. For example, mistakes in the vetting process could mean delays to starting or, at worst, jeopardise your position. Information has to be correct for payroll systems to avoid being emergency taxed on your first pay packet.</p>

    <p>Again, we will talk to people who’ve recently started to explore how this currently works. We’ll also talk to people who recruit people into departments to understand their needs as recruiters.</p>

  [insert image]

    <h3 class="heading-medium">Theme three - being a civil servant, the day-to-day</h3>

    <p>You’ve successfully joined Her Majesty’s Civil Service so now you need certain things to be able to do your job. </p>

    <p>Wherever you work and in whatever role, you need to be able to contact your colleagues in your own department or perhaps elsewhere in government.</p>

    <p>Meetings are a necessary evil in the Civil Service so you need to book rooms. In some departments, you need to travel as part of your job so you need to be able to book tickets and perhaps claim expenses.</p>

    <p>To explore this theme, we are talking to civil servants in a variety of departments and at all levels within an organisation. We’re well aware that there are a huge variety of roles in the modern Civil Service and their needs are going to be different. Day to day realities for a policy official in a Whitehall department are radically different to a front line worker in a jobcentre. People working in a processing or call centre have very different needs to a flood monitoring worker or prison officer.</p>

    <h3 class="heading-medium">Theme four - developing your career</h3>

    <p>To progress in the Civil Service, people need to develop and learn new skills. There are also mandatory training courses that everybody has to complete, like information handling and security.</p>

    <p>The majority of civil servants belong to one of the professions, for example finance, policy, HR or the communications service. By far the largest, the operational delivery profession has around 280,000 members.</p>

    <p>As well as learning and development, what about performance management? How do you keep a record of your objectives and progress against them? What about meeting and sharing knowledge with other members of your profession?</p>

    <h3 class="heading-medium">Start with a blank sheet</h3>

    <p>For a discovery project, the main benefit of this thematic approach is that we can explore user needs without viewing them through the distorting lens of existing services. If we explore needs based on current services and products, we are assuming that the current landscape of services is the correct way to meet these needs. Also, there may be gaps in the current suite of services to meet some of the needs we identify.</p>

    <p>Our approach borrows heavily from <a href="http://en.wikipedia.org/wiki/Thematic_analysis">thematic analysis</a>, a common technique used in psychology and qualitative research for large datasets. We are hoping that exploring this journey will allow us to see other themes as they emerge and provide areas for further exploration once the project moves beyond discovery.</p>

    <h3 class="heading-medium">Prototypes and experiments</h3>

    <p>The best way to define and test user needs is through experimentation and quick prototypes. A prototype is an early model of a product, it built to test an idea and is something to learn from. For digital, a prototype might explore how a new product or service could look and feel. At GDS, <a href="https://designnotes.blog.gov.uk/2015/03/19/prototyping-tips/">we do a lot of prototyping</a>.</p>

    <p>Working from the user needs we uncover through our different themes, we will start to sketch out some ideas in code. The prototypes themselves will be a valuable source of data that will inform further areas for research. You will be able to view our prototypes in our experimentation space (password required, you can request one from the team).</p>
  </article>
</main>

{{/content}}

{{/layout}}
