{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
<div class="grid-row">

    <div class="column-two-thirds">
    <h1 class="heading-xlarge">Cross government tools</h1>
    <!-- feel free to change this page to suit your needs -->

    <p class="lede">Digital working for the civil service</p>

    <h2 class="heading-medium">Why are we doing this?</h2>

    <p class="text">Unfortunately, the services  and things civil servants use may not always have been built to the same high standards we now set for external-facing services. Many civil servants could be forgiven for thinking that much of this revolution has passed them by.</p>

    <p class="text">Tools and services for civil servants need to be built to the same standards as the external facing services. And they need to be built with user needs at the core. We want to talk to as many civil servants as possible to truly understand what civil servants need not what they have today.</p>

    <h2 class="heading-medium">What are we doing?</h2>

    <p class="text">This is a 12 week discovery phase. As a project team we aim to do the following:-</p>
    <ol class="list-number">
      <li>Make civil servants part of it</li>
      <li>Create a vision and a roadmap</li>
      <li>Build trust</li>
      <li>Show the art of the possible</li>
      <li>Emphasis the benefits</li>
    </ol>

  </div>

  <div class="column-third">
    <div class="related">
      <h3 class="heading-medium related__heading">
        Useful links
      </h3>
      <nav role="navigation">
        <ul class="related__list">
          <li><a class="related__list-item" href="/posts">Posts</a></li>
          <li><a class="related__list-item" href="https://x-gov-tools-prototypes.herokuapp.com/">Prototypes</a></li>
          <li><a class="related__list-item" href="/user-stories">User stories</a></li>
          <li><a class="related__list-item" href="/background-reading">Useful resources</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</main>

{{/content}}

{{/layout}}
