{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
<div class="grid-row">

    <div class="column-two-thirds">
    <h1 class="heading-xlarge">Cross-government tools for Civil Servants</h1>
    <!-- feel free to change this page to suit your needs -->
    <p class="text">Many of the tools civil servants use today no longer meet the high standards we set for external-facing services.</p>

    <p class="text">Sir Jeremy Heywood and <a href="https://gds.blog.gov.uk/digital-leaders-network/">Departmental Digital Leaders</a> have agreed we need to ensure our internal-facing services meet these standards, with user needs at the core.</p>

    <h2 class="heading-medium">What are we doing?</h2>

    <p class="text">This is a 12-week discovery phase and we aim to:-</p>
    <ul class="list-bullet">
      <li>understand the needs of civil servants</li>
      <li>map those needs against existing tools and services in areas like recruitment, HR and learning</li>
      <li>identify barriers to building high-quality services</li>
      <li>prototype what world-class digital services for civil servants could look like</li>
    </ul>
<p class="text">At the end of 12 weeks, we’ll present recommendations and agree the next steps in the alpha development with stakeholders.</p>

  </div>

  <div class="column-third">
    <div class="related">
      <h3 class="heading-medium related__heading">
        Useful links
      </h3>
      <nav role="navigation">
        <ul class="related__list">
          <li><a class="related__list-item" href="/posts">Posts</a></li>
          <li><a class="related__list-item" href="http://prototypes.prototype.govuk.svc.tutum.io:3003/">Prototypes</a></li>
          <li><a class="related__list-item" href="http://gds-civil-service-maslow.herokuapp.com/">Maslow tool</a></li>
          <li><a class="related__list-item" href="/user-stories">User stories</a></li>
          <li><a class="related__list-item" href="/background-reading">Useful resources</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</main>

{{/content}}

{{/layout}}
