{{$head}}
  {{>includes/head}}
  <link href="/public/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}
<main role="main">

  <ul class="slides">

    <li class="slide" data-scroll-index="{{index}}">
      <div class="slide__content">
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>

  </ul>

</main>
{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}
