{{$head}}
  {{>includes/head}}
  <link href="/public/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}
<main role="main">

  <ul class="slides">

    <li class="slide">
      <div class="slide__content">
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>

    <li class="slide slide--white" data-display-time=12000>
      <div class="slide__content">
        <img src="/public/images/person_entity_map_wide.svg" alt="Make up of a person entity">
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>

    <li class="slide slide--blue">
      <div class="slide__content">
        <blockquote class="slide__quote">
          <p>I forward useful contacts via personal email...<span class="slide__quote-endmark">&rdquo;</span></p>
        </blockquote>
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>

    <li class="slide slide--red" data-display-time=7000>
      <div class="slide__content slide__content--wide">
        <blockquote class="slide__quote">
          <p>And the intranet - it’s scary. It feels like you are using a website from 1995. A thing like booking a trip takes like 15 minutes.<span class="slide__quote-endmark">&rdquo;</span></p>
        </blockquote>
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>

    <li class="slide slide--green" data-display-time=8000>
      <div class="slide__content slide__content--wide">
        <blockquote class="slide__quote">
          <p>...there’s a big paradox between what it’s trying to deliver to the public and at the same time not changing anything internally.<span class="slide__quote-endmark">&rdquo;</span></p>
        </blockquote>
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>

  </ul>

</main>
{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script src="/public/javascripts/slideIt.js"></script>
  <script>
  $(function() {
    $.slideIt({auto_scroll: true});
  });
  </script>
{{/bodyEnd}}
