{{$head}}
  {{>includes/head}}
  <link href="/public/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}
<main role="main">

  <ul class="slides">

    <!-- Example usage
    <li class="slide" id="default">
      <div class="slide__content">
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>-->

    <li class="slide slide--red" data-display-time=15000 id="un3">
      <div class="slide__content">
        <p class="user-story__entity">
          <span class="user-story__entity--std">as a</span>
          <span class="user-story__content--highlight">Civil servant<span></span></span>
        </p>
        <p class="user-story__entity">
          <span class="user-story__entity--std">i need</span>
          <span class="user-story__content--highlight">To be part of a performance review process that is clear and open</span>
        </p>
        <p class="user-story__entity">
          <span class="user-story__entity--std">so that</span>
          <span class="user-story__content--highlight">My performance review is fair to me</span>
        </p>
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>

    <li class="slide slide--white" data-display-time=15000 id="personmap">
      <div class="slide__content">
        <img src="/public/images/person_entity_map_wide.svg" alt="Make up of a person entity">
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>

    <li class="slide slide--blue" id="quote1" data-display-time=10000>
      <div class="slide__content">
        <blockquote class="slide__quote">
          <p>I forward useful contacts via personal email...<span class="slide__quote-endmark">&rdquo;</span></p>
        </blockquote>
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>

    <li class="slide slide--blue" data-display-time=15000 id="un23">
      <div class="slide__content">
        <p class="user-story__entity">
          <span class="user-story__entity--std">as a</span>
          <span class="user-story__content--highlight">Civil servant<span></span></span>
        </p>
        <p class="user-story__entity">
          <span class="user-story__entity--std">i need</span>
          <span class="user-story__content--highlight">To find another civil servant or person working in the civil service's details</span>
        </p>
        <p class="user-story__entity">
          <span class="user-story__entity--std">so that</span>
          <span class="user-story__content--highlight">I can complete a task/query by contacting them</span>
        </p>
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>

    <li class="slide slide--red" data-display-time=11000 id="quote2">
      <div class="slide__content slide__content--wide">
        <blockquote class="slide__quote">
          <p>And the intranet - it’s scary. It feels like you are using a website from 1995. A thing like booking a trip takes like 15 minutes.<span class="slide__quote-endmark">&rdquo;</span></p>
        </blockquote>
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>

    <li class="slide slide--green" data-display-time=12000 id="quote3">
      <div class="slide__content slide__content--wide">
        <blockquote class="slide__quote">
          <p>...there’s a big paradox between what it’s trying to deliver to the public and at the same time not changing anything internally.<span class="slide__quote-endmark">&rdquo;</span></p>
        </blockquote>
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>

    <li class="slide slide--orange" data-display-time=15000 id="un12">
      <div class="slide__content">
        <p class="user-story__entity">
          <span class="user-story__entity--std">as a</span>
          <span class="user-story__content--highlight">Civil servant<span></span></span>
        </p>
        <p class="user-story__entity">
          <span class="user-story__entity--std">i need</span>
          <span class="user-story__content--highlight">To access learning remotely to suit my situation</span>
        </p>
        <p class="user-story__entity">
          <span class="user-story__entity--std">so that</span>
          <span class="user-story__content--highlight">I can learn new skills</span>
        </p>
      </div>
      <aside class="slide-footer">
        <div class="slide-footer__name"><p>cross-government-tools</p></div>
        <div class="slide-footer__org">
          <h2 class="organisation-logo">
            <p><a href="/government/organisations/cabinet-office">Cabinet Office</a></p>
            <p><a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></p>
          </h2>
        </div>
      </aside>
    </li>

  </ul>

</main>
{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script src="/public/javascripts/slideIt.js"></script>
  <script>
  $(function() {
    $.slideIt({
      auto_scroll: true,
      transition_time: 800
    });
  });
  </script>
{{/bodyEnd}}
