{{$head}}
  {{>includes/head}}
  <link href="/public/stylesheets/user_stories_viewer.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}
<main role="main">
  <ul class="user-stories">
    <li class="user-story">
      <div class="user-story__content">
        <p>as a <span class="user-story__content--highlight">civil servant<span></p>
        <p>i need <span class="user-story__content--highlight">to find another civil servant’s contact details</span></p>
        <p>so that <span class="user-story__content--highlight">I can complete a task/query by contacting them</span></p>
      </div>
    </li>

    <li class="user-story">
      <div class="user-story__content">
        <p>as a <span class="user-story__content--highlight">civil servant<span></p>
        <p>i need <span class="user-story__content--highlight">find the address of another office</span></p>
        <p>so that <span class="user-story__content--highlight">I can visit it for work</span></p>
      </div>
    </li>

    <li class="user-story">
      <div class="user-story__content">
        <p>as a <span class="user-story__content--highlight">civil servant<span></p>
        <p>i need <span class="user-story__content--highlight">book a meeting in another office</span></p>
        <p>so that <span class="user-story__content--highlight">I can hold my meeting without using an external venue</span></p>
      </div>
    </li>

    <li class="user-story">
      <div class="user-story__content">
        <p>as a <span class="user-story__content--highlight">civil servant<span></p>
        <p>i need <span class="user-story__content--highlight">access learning at a place and time to suit me</span></p>
        <p>so that <span class="user-story__content--highlight">I can spend my time doing my work</span></p>
      </div>
    </li>
  </ul>

</main>
{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script src="/public/javascripts/user_stories.js"></script>
{{/bodyEnd}}
